/* ============= BEGIN reset ============= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:focus {
  outline: none;
}
a {
  text-decoration: none;
}
i {
  font-style: normal;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* ============= END reset ============= */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?7hgo03');
  src: url('../fonts/icomoon.eot?7hgo03#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?7hgo03') format('truetype'), url('../fonts/icomoon.woff?7hgo03') format('woff'), url('../fonts/icomoon.svg?7hgo03#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ag:before {
  content: "\e900";
}
.icon-arrow_down:before {
  content: "\e901";
}
.icon-arrow_up:before {
  content: "\e902";
}
.icon-au:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-down:before {
  content: "\e905";
}
.icon-exit:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-item:before {
  content: "\e908";
}
.icon-kievstar:before {
  content: "\e909";
}
.icon-login:before {
  content: "\e90a";
}
.icon-map:before {
  content: "\e90b";
}
.icon-pd:before {
  content: "\e90c";
}
.icon-phone:before {
  content: "\e90d";
}
.icon-pt:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-up:before {
  content: "\e910";
}
.icon-vodafone:before {
  content: "\e911";
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #F6F7FB;
  min-width: 320px;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1420px;
  min-width: 320px;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.h1 {
  font-size: 20px;
  line-height: 1.2em;
  margin-bottom: 20px;
  color: #7F7F7F;
  text-transform: uppercase;
}
.h2 {
  color: #4C4D5B;
  margin-bottom: 20px;
  font-family: 'Merriweather', serif;
  font-size: 30px;
  font-weight: normal;
}
.h3 {
  color: #6D7189;
  margin-bottom: 20px;
  font-family: 'Merriweather', serif;
  font-size: 24px;
  font-weight: normal;
}
p {
  color: #222735;
  font-weight: 400;
  line-height: 1.6em;
  margin: 16px 0;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
.ul {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
}
.li {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7em;
  position: relative;
  padding-left: 15px;
}
.li::before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #000000;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 10px;
}
.link {
  text-decoration: none;
  color: #6E97FF;
  border-bottom: 1px dotted #6E97FF;
}
img {
  height: auto;
  max-width: 100%;
  display: block;
}
.bold {
  font-weight: 600;
}
.upper {
  text-transform: uppercase;
}
.black {
  color: #222735;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col4 {
  width: 33.33%;
}
.col2 {
  width: 16.66%;
}
.col5 {
  width: 20%;
}
.close {
  font-size: 14px;
  color: #B3B8D5;
}
.form {
  width: 100%;
}
::-webkit-input-placeholder {
  color: #b7b7b7;
}
::-moz-placeholder {
  color: #b7b7b7;
}
:-moz-placeholder {
  color: #b7b7b7;
}
:-ms-input-placeholder {
  color: #b7b7b7;
}
.b-input,
.b-textarea {
  position: relative;
  width: 100%;
}
.b-input + .b-input {
  margin-top: 16px;
}
.b-textarea {
  margin-top: 10px;
}
.input {
  height: 44px;
  width: 100%;
  border-radius: 4px;
  padding: 0 9px;
  border: 1px solid #B3B8D5;
  background: #FFFFFF;
}
.textarea {
  display: block;
  width: 100%;
  height: 86px;
  padding: 6px;
  resize: none;
  max-width: 470px;
  margin-right: 30px;
  border: none;
}
.label {
  display: block;
  color: #000;
  font-size: 14px;
}
.b-button {
  margin-top: 16px;
}
.button {
  height: 48px;
  background: linear-gradient(180deg, #626CC3 0%, #4956A3 100%);
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 48px;
  padding: 0px 28px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.8px;
}
.btn__box {
  text-align: center;
}
.btn__box + .btn__box {
  margin-top: 40px;
}
.btn {
  background-color: #9cc0e4;
  color: #feffff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  height: 42px;
  line-height: 42px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0 22px;
}
.btn:hover {
  background-color: #30374a;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.btn-transparent {
  display: inline-block;
  background-color: transparent;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #626CC3;
  font-weight: bold;
  font-size: 14px;
}
/* ============= STYLE ============= */
/* ============= HEADER  ============= */
.header {
  background-color: #161D43;
  padding: 15px 0 22px 0;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  width: 200px;
  flex-basis: 200px;
  min-width: 200px;
  margin-right: 10px;
  text-align: center;
}
.logo {
  margin: 0 auto;
}
.logo__text {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.7px;
  margin: 8px 0 4px 0;
}
.logo__desk {
  color: #9599B1;
  font-size: 12px;
}
.header__right {
  width: 100%;
}
.menu__list {
  display: flex;
}
.menu__hamburger {
  display: none;
  align-items: center;
}
.hamburger {
  width: 24px;
  height: 18px;
  cursor: pointer;
  margin-right: 10px;
}
.hamburger .line {
  width: 24px;
  height: 3px;
  background-color: #FFFFFF;
  display: block;
  margin: 4px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger.active .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.hamburger.active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.active .line:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.hamburger .line:nth-child(1) {
  margin-top: 0;
}
.hamburger .line:nth-child(3) {
  margin-bottom: 0;
}
.menu__hamburger-ttl {
  color: #FFFFFF;
  letter-spacing: 0.3px;
  font-size: 15px;
  text-transform: uppercase;
}
.menu__item {
  position: relative;
  border-radius: 4px;
  transition: all 0.2s ease;
}
.menu__link {
  display: block;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  padding: 11px 8px 12px 8px;
  cursor: pointer;
}
.menu__link .icon {
  font-weight: normal;
  color: #9599B1;
  font-size: 12px;
}
.header__top {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}
.search {
  width: 40px;
  height: 40px;
  text-align: center;
}
.search__link {
  color: #96A4EF;
  display: block;
  height: 100%;
  line-height: 40px;
}
.search__form {
  display: none;
}
.search__input-b {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
}
.search__input {
  width: 100%;
  border: none;
  height: 40px;
  padding: 0 46px;
  font-size: 17px;
  color: #525366;
  line-height: 48px;
  border-radius: 4px;
}
.search__btn {
  display: block;
  position: absolute;
  width: 46px;
  height: 40px;
  left: 0;
  top: 0;
  color: #96A4EF;
  z-index: 1;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.search__btn .icon {
  line-height: 40px;
}
.search__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 46px;
  height: 40px;
  color: #96A4EF;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
.login__link {
  display: block;
  width: 100px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  border: 2px solid #FFC85E;
  border-radius: 4px;
}
.login__link .icon {
  margin-right: 8px;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(35, 44, 89, 0.75);
  display: none;
  align-items: center;
}
.popup.active {
  display: flex;
}
.popup__box {
  position: relative;
  flex-basis: 332px;
  width: 332px;
  background: #F1F6FF;
  box-shadow: 0px 6px 30px rgba(50, 47, 72, 0.06), 0px 16px 24px rgba(50, 47, 72, 0.07);
  border-radius: 4px;
  padding: 40px 30px 25px 30px;
  margin: 0 auto;
}
.popup__box .button {
  width: 100%;
}
.popup__box .close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
}
.popup__link {
  display: block;
  color: #9599B1;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}
.popup__btn-box2 {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup__btn-box2 .btn-transparent,
.popup__btn-box2 .button {
  width: 50%;
}
.header__bottom {
  margin-top: 10px;
  overflow: hidden;
}
.metal__row {
  display: flex;
  justify-content: flex-end;
}
.metal__col {
  background: #232C59;
  border-radius: 4px;
  width: 270px;
  padding: 8px;
  display: flex;
  align-items: center;
}
.metal__col + .metal__col {
  margin-left: 8px;
}
.metal__square {
  width: 48px;
  height: 48px;
  border: 1px solid #6472BD;
  border-radius: 2px;
  color: #96A4EF;
  font-size: 11px;
  text-align: left;
  padding: 8px 8px 8px 10px;
  margin-right: 5px;
}
.metal__square .icon {
  font-size: 20px;
  line-height: 18px;
  display: inline-block;
  text-align: left;
  width: 100%;
}
.metal__price-box .icon-arrow_down {
  color: #FF6887;
  font-size: 10px;
}
.metal__price-box .icon-arrow_up {
  color: #5FD219;
  font-size: 10px;
}
.metal__name {
  color: #96A4EF;
  font-size: 14px;
  font-weight: 600;
}
.metal__price {
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
}
.metal__price + .metal__price {
  padding-left: 8px;
}
.metal__desc {
  text-align: right;
  font-size: 12px;
  color: #B3B8D5;
  margin-top: 8px;
}
.metal__desc span {
  color: #FFFFFF;
  font-weight: 600;
}
/* ============= END HEADER  ============= */
/* ============= FOOTER  ============= */
.footer {
  color: #B3B8D5;
}
.footer .adress {
  color: #FFFFFF;
  line-height: 1.6em;
  max-width: 240px;
  margin-bottom: 20px;
  position: relative;
}
.footer .adress .icon {
  position: absolute;
  left: -22px;
  top: 3px;
  font-size: 20px;
}
.footer .row {
  justify-content: space-between;
  align-items: center;
}
.footer__top {
  background-color: #E9ECF5;
  padding: 10px 0 60px 0;
  text-align: left;
}
.footer__top .row {
  align-items: flex-start;
  margin: 0 -10px;
}
.footer__top .col5 {
  margin-top: 30px;
  padding: 0 10px;
}
.footer__item + .footer__item {
  padding-top: 10px;
}
.footer__link {
  font-size: 12px;
  color: #9599B1;
  display: block;
}
.footer__bottom {
  padding: 15px 0 20px 0;
  background-color: #161D43;
}
.footer__adress {
  padding-left: 30px;
}
.footer__adress {
  padding-left: 30px;
}
.fasebook {
  display: inline-block;
  border: 1px solid #B3B8D5;
  border-radius: 4px;
  height: 40px;
  overflow: hidden;
  position: relative;
  max-width: 130px;
  min-width: 130px;
  flex-grow: 2;
}
.fasebook .icon {
  color: #161D43;
  display: block;
  width: 40px;
  text-align: center;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  background-color: #B3B8D5;
  position: absolute;
  top: 0;
  left: 0;
}
.fasebook .fasebook__text {
  display: inline-block;
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: #b3b8d5;
  padding: 0 8px 0 50px;
}
.footer__copyrating {
  text-align: center;
  padding: 0 20px;
}
.footer__logo {
  max-width: 90px;
  margin: 0 auto;
  margin-bottom: 12px;
}
.footer__contact {
  text-align: right;
}
.footer__contact .icon-phone {
  font-size: 18px;
}
.footer__contact .icon-vodafone {
  color: #FE4949;
  font-size: 20px;
}
.footer__contact .icon-kievstar {
  font-size: 23px;
}
.footer__icon {
  vertical-align: middle;
}
.footer__number {
  padding-left: 8px;
}
.footer__contact-item {
  padding: 4px 0;
}
.footer__contact-item img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
/* ============= END FOOTER  ============= */
/* ============= BEGIN media queries ============= */
@media screen and (max-width: 1100px) {
  .footer__top .row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer__top .col5 {
    width: 33.33%;
  }
}
@media screen and (min-width: 990px) {
  .menu__item:hover {
    background: #626CC3;
  }
  .menu__item:hover .sub-menu__list {
    display: block;
  }
  .menu__item .icon {
    display: none;
  }
  .sub-menu__list {
    display: none;
    position: absolute;
    left: 0;
    top: 38px;
    max-width: 240px;
    min-width: 240px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 6px rgba(50, 47, 72, 0.06), 0px 2px 2px rgba(35, 44, 89, 0.1);
    border-radius: 0px 0px 4px 4px;
    padding: 0 12px;
    border-top: 4px solid #626CC3;
    transition: all 0.8s ease;
  }
  .sub-menu__item + .sub-menu__item {
    border-top: 1px solid #DCDBF0;
  }
  .sub-menu__link {
    display: block;
    font-size: 12px;
    color: #525366;
    padding: 16px 0;
  }
  .menu__logo,
  .menu__login {
    display: none;
  }
}
@media screen and (max-width: 989px) {
  .html-over {
    overflow: hidden;
  }
  .menu__box {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
  .menu__box.active {
    visibility: visible;
    opacity: 1;
  }
  .menu__box.active .menu__list {
    left: 0;
  }
  .menu__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(35, 44, 89, 0.75);
    z-index: 99;
  }
  .menu__list {
    position: absolute;
    top: 0;
    left: -320px;
    bottom: 0;
    width: 320px;
    flex-basis: 320px;
    flex-direction: column;
    background-color: #161D43;
    z-index: 100;
    transition: left 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .menu__hamburger {
    display: flex;
  }
  .menu {
    margin-right: 10px;
  }
  .search {
    margin-right: 10px;
  }
  .menu__link {
    font-size: 15px;
    padding: 14px 0;
    border-bottom: 1px solid #333860;
  }
  .menu__link--triger {
    padding: 0;
  }
  .menu__trigger {
    padding: 14px 0;
  }
  .menu__item {
    padding: 0 15px;
    position: relative;
  }
  .menu__item .icon {
    position: absolute;
    right: 15px;
    top: 20px;
  }
  .menu__item.open .sub-menu__list {
    display: block;
  }
  .sub-menu__list {
    display: none;
    position: relative;
  }
  .sub-menu__item {
    padding-left: 10px;
  }
  .sub-menu__item + .sub-menu__item .sub-menu__link {
    border-top: 1px solid #333860;
  }
  .sub-menu__link {
    color: #B3B8D5;
    padding: 12px 0;
    font-size: 15px;
    font-weight: normal;
    display: block;
  }
  .menu__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu__logo .icon {
    position: relative;
    top: 0;
    right: 0;
    color: #96A4EF;
  }
  .menu__logo-box {
    max-width: 200px;
    display: flex;
    align-items: center;
  }
  .menu__logo-box .logo__box {
    width: 42px;
  }
  .menu__logo-box .logo__text {
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 10px;
  }
}
@media screen and (max-width: 950px) {
  .footer__copyrating {
    width: 100%;
    order: 1;
  }
  .footer__copyrating .footer__logo {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer__item + .footer__item {
    padding-top: 10px;
  }
  .footer__link {
    font-size: 14px;
  }
  .footer__top .col5 {
    width: 50%;
    margin-top: 20px;
  }
  .footer__top {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 530px) {
  body {
    font-size: 12px;
  }
  .wrapper {
    padding: 0 15px;
  }
  .footer__contact {
    display: none;
  }
  .footer__adress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  .footer__adress .adress {
    margin-bottom: 0;
    padding-right: 10px;
  }
  .footer__adress .icon.icon-map {
    left: -20px;
  }
  .footer__copyrating {
    text-align: left;
    font-size: 11px;
  }
}
@media screen and (max-width: 460px) {
  .login__link {
    display: none;
  }
  .menu__hamburger-ttl {
    display: none;
  }
  .menu {
    order: 1;
    margin-right: 0;
  }
  .hamburger {
    margin-right: 0;
  }
  .header__logo {
    display: flex;
    align-items: center;
    min-width: 180px;
    text-align: left;
  }
  .header__logo .logo__box {
    max-width: 40px;
    margin-right: 10px;
  }
  .header__logo .logo__desk {
    display: none;
  }
  .header__logo .logo__text {
    font-size: 10px;
  }
}
@media screen and (max-width: 430px) {
  .footer__top {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .footer__top {
    display: none;
  }
  .search__input-b {
    width: 200%;
    left: -98%;
  }
}
@media screen and (max-width: 360px) {
  .search__input-b {
    width: 228%;
    left: -124%;
  }
  .menu__list {
    width: 300px;
  }
}
/* ============= END media queries ============= */
